/*
color pallet:
Purple: #332a86
Teal: #73c6a1
Green: #8dc63f
Blue: #70cde3
*/


* {
    box-sizing: border-box;   
}

h1, h2, h3, h4, h5, h6, li{
    font-family: "Brandon Grotesque";
    text-transform: uppercase;
  }
p{
font-family: "open sans";
}
footer {
    background-color: #332a86;
    margin: 0;
    Padding: 90px 0;
}

footer p{
    margin: 0;

}
.header {
    Padding: 4em 0em;
    background: #332a86;
    Margin-bottom: -30px;
   
}

.header-title {
    color: #8dc63f;
    float: left;
}
.main-nav {
    float: left;

}
.main-nav li{
   float: right;
   margin: 1em;
   color: #8dc63f;
}
.main-nav a {
    color: #8dc63f
}
.hero-img{
    width: 100%;
    margin: none;
}
.midbox {
    border: 2px solid #000;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
/*.clearfix::before {
    content:"";
    display: table;
    clear: both;
}
*/
video {
    
    width: 100vw;
    padding: -90px 0

}